.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-side {
    flex: 1 1 50%;
}

.right-side {
    flex: 1 1 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00BDD6FF;
    border-radius: 0px; 
}

.image {
    width: 412px; 
    height: 386px;
  }